.container {
width: 300px;
display: flex;
flex-direction: column;
left: auto;
right: auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 32px 16px;
position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.login {
    background-color: blue;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: var(--Button-radius, var(--joy-radius-sm));
    font-size: 0.875rem;
    min-height: 0.25rem;
    color: var(--variant-solidColor, var(--joy-palette-primary-solidColor, var(--joy-palette-common-white, #FFF)));
}
.heading {
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}
.sigin {
    font-family: sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
}
.style {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.42858;
}
.inputSt {
    border-radius: 5px;
    height: 30px;
    border: 1px solid black;
}